#selectionArea div.item {
    cursor: pointer;
    background-color: #f0f0f0;
    margin: 5px;
    padding: 10px;
    display: inline-block;
}

#tray {
    border: 2px dashed #000;
    min-height: 50px;
    margin-top: 20px;
    padding: 10px;
}
.body
{
    background-color: #a50000;
}
/* Add more styles as needed */
